---
import MainLayout from "../layouts/MainLayout.astro";
import { Header } from "../components/Header";
import { Hero } from "../components/Hero";
import { Expertise } from "../components/Expertise";
import { Experience } from "../components/Experience";
import { ContentSection } from "../components/ContentSection";
import { Footer } from "../components/Footer";
---

<MainLayout title="Accueil">
	<Header />
	<main>
		<Hero />
		<Expertise />
		<Experience />
		<ContentSection/>
	</main>
	<Footer />
</MainLayout>
