---
import '../styles/global.css'

import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---
<html lang="fr">
	<head>
		<SEO
			title={title}
			titleTemplate='%s - Alexandre Sanchez'
			titleDefault='Alexandre Sanchez'
			description={description}
			charset='utf-8'
			twitter={{
				creator: "@alex73630",
				card: "summary",
				title: title ? `${title} - Alexandre Sanchez` : "Alexandre Sanchez",
				description: description
			}}
			extend={{
				meta: [{ name: "generator", content: Astro.generator }, { name: "viewport", content: "width=device-width" }],
				link: [{ rel: "icon", href: "/favicon.ico" }, { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }, { rel: "sitemap", href: "/sitemap-index.xml" }],
			}}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
